#demo-1{
    background-color: red;
    padding: 50px;
    margin:100px;
    border-color: black;
    border-style: dotted;
    border-width: 5px;

}

#bg-demo{
    background-image:url("images/Sky-1.jpg");
    height: 50vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-attachment: fixed;
    opacity: 50%;
   
}

#z-index-demo-1{
    background-color: red;
    height: 200px;
    width: 200px;
    position: relative;
    z-index: 3;

}

#z-index-demo-2{
    background-color: yellow;
    height: 200px;
    width: 200px;
    position: relative;
    top: -200px;
    left: 50px;

}

#z-index-demo-3{
    background-color: green;
    height: 200px;
    width: 200px;
    position: relative;
    top: -400px;
    left: 100px;
}